html {
	background-color: #7bdeed;
	}
	
	
h1 {
	width: 500px;
	font-family: Helvetica, sans-serif;
	color: white;
	text-align: center;
	border-top: 4px dashed white;
	padding-top: 10px;
	border-bottom: 4px dashed white;
	padding-bottom: 10px;
	}

h2 {
	font-family: Helvetica, sans-serif;
	color: #000000;
	}	
	
h3 {
	font-family: Helvetica, sans-serif;
	color: #5f6263;
	}

.reasons {
	font-family: Helvetica, sans-serif;
	font-size: 9.7pt;
	color: #6b6d6d;
	}

#haiku title {
	font-family: Monaco, sans-serif;
}

#haiku {
	font-family: Monaco, sans-serif;
	}


article {
	border-top: 4px double white;
	border-bottom: 4px double white;
	}

#first article {
	border-bottom: 4px double red;
	}
	
#last article {
	border-top: 4px double white;
	}

ol {
	font-family: Monaco;
	font-size: 11pt;
	color: white;
	}

#PTA {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px 0px 10px
	}

a {
	color: white;
	text-decoration: none;
	}



